<!--
<div ngDropdown [renderInPlace]="true" [horizontalPosition]="'center'">
  <button class="live-btn" ngDropdownControl>Change Channel</button>
  <div ngDropdownContent dropdownClass="slide-fade dropper">
    <div *ngIf="!isLoading" class="channel-list">
      <div class="channel-item online" *ngFor="let channel of online">
        <a routerLink="/{{ channel }}" class="channel-link"
          >{{ channel }}
      </div>

    </div>
  </div>
</div> -->

<!-- Using ng-option and for loop
<ng-select [(ngModel)]="selectedChannel" class="select">
  <ng-option  [value]="channel">{{channel}}

  </ng-option>
      <ng-option *ngFor="let channel of offline" [value]="channel">

      </ng-option>
</ng-select> -->

<div class="content">
  <div
    #toggleButtonQuality
    [class.active]="isMenuOpenQuality"
    class="live-btn"
    (click)="toggleMenuQuality()"
  >
    Quality
  </div>
  <div
    #menuQuality
    class="dropdown-content slide-fade"
    [class.isOpen]="isMenuOpenQuality"
  >
    <div *ngIf="!isLoading" class="channel-list">
      <div class="channel-item online" *ngFor="let channel of qualityLive">
        <a routerLink="/{{ channel }}" class="channel-link"
          ><span class="channel-name">{{ channel }}</span>
          <span class="live-status">LIVE</span>
        </a>
      </div>
    </div>
    <div *ngIf="!isLoading" class="channel-list">
      <div class="channel-item offline" *ngFor="let channel of qualityOffline">
        <a routerLink="/{{ channel }}" class="channel-link"
          ><span class="channel-name">{{ channel }}</span></a
        >
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div
    #toggleButton
    [class.active]="isMenuOpen"
    class="live-btn"
    (click)="toggleMenu()"
  >
    Channels
  </div>
  <div #menu class="dropdown-content slide-fade" [class.isOpen]="isMenuOpen">
    <div *ngIf="!isLoading" class="channel-list">
      <div class="channel-item online" *ngFor="let channel of online">
        <a routerLink="/{{ channel }}" class="channel-link"
          ><span class="channel-name">{{ channel }}</span>
          <span class="live-status">LIVE</span>
        </a>
      </div>
    </div>
    <div *ngIf="!isLoading" class="channel-list">
      <div class="channel-item offline" *ngFor="let channel of offline">
        <a routerLink="/{{ channel }}" class="channel-link"
          ><span class="channel-name">{{ channel }}</span></a
        >
      </div>
    </div>
  </div>
</div>

<span class="live-channels" title="Live Channels"
  ><i class="tower-icon fas fa-signal"></i> {{ online.length || 0 }}
</span>
