<div class="bg">
  <div class="navigation">
    <div class="channel-name">{{ stream }} channel</div>
  </div>
  <div class="main-area">
    <div class="player-section"></div>
    <div class="utility-section">
      <div class="stats">
        <div class="stat" *ngIf="stats.isLive">
          <span class="fas fa-users"></span>
          <span> {{ stats.viewers || 0 }}</span>
        </div>
        <div class="stat" *ngIf="stats.isLive">
          <span class="fas fa-signal"></span>
          <span> {{ stats.lastBitrate || 0 }}</span>
        </div>
        <div class="stat" *ngIf="stats.isLive">
          <span class="fas fa-clock"></span>
          <span> {{ stats.duration }}</span>
        </div>
        <div class="stat" *ngIf="stats.isLive">
          <span class="fas fa-hourglass-half"></span>
          <span> {{ stats.startTime | date: 'shortTime' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
