/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,400,500,600,700&display=swap&subset=cyrillic-ext,latin-ext');

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.dropper,
.render-in-place,
.list {
  width: 100% !important;
}

body,
html {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#player {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgba(64, 64, 64, 0.15);
  box-shadow: 0 10px 20px rgba(64, 64, 64, 0.15);
  font-family: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #f3f4f5;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropdown-item:hover {
  background-color: #f3f4f5;
}
