.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
  flex-direction: column;
  background-position: center center;
}

.title {
  position: absolute;
  color: white;
  opacity: 0.04;
  font-size: 20rem;
  font-weight: bold;

  user-select: none;
}
